@charset "utf-8";
/* CSS Document */

body{
	font-family:"Times New Roman", Times, Georgia, serif;
	margin:0px;
	padding:0px;
}

#contenedor{
	width:980px;
	height:2460px;
	margin-left:auto;
	margin-right:auto;
	background:url(../imgs/fondo_largo.jpg);
	background-repeat:no-repeat;
	background-position:top center;
}

#menu_top{
	width:500px;
	height:40px;
	float:right;
	margin-right:50px;
	padding:0px;
	font-size:14px;
	font-weight:bold;
	color:#9C7D4E;/*315732;/*403205;*/
}
#menu_top ul{
	float:right;
	list-style-type:none;
	width:400px;
}
#menu_top li{
	float:right;
	list-style-type:none;
}
#menu_top li a:link{
	color:#403205;
	text-decoration:none;
}
#menu_top li a:visited{
	color:#403205;
	text-decoration:none;
}
#menu_top li a:hover{
	color:#9C7D4E;
	text-decoration:underline;
}
#menu_top li a:active{
	color:#315732;
	text-decoration:underline;
}

#cuerpo_principal{
	float:left;
	width:480px;
	margin-left:50px;
	margin-top:330px;
}

.cuerpo {
	font-size:11pt;
	color:#333333;
	text-align:justify;
}

.fuente {
	font-size:10pt;
	color:#000000;
	text-align:right;
}